[user]
  name = Daniel Chromik
  email = daniel.chromik@proton.me

[core]
  pager = delta
  excludesFile = ~/.gitignore

[merge]
  tool = nvimdiff2

[diff]
  tool = nvimdiff

[delta]
  line-numbers = true
  syntax-theme = "base16"
  navitate = true
